#container {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  height: 100%;
}

.box {
  max-width: 800px;
  margin: 5px;
}
.box h1 {
  padding: 20px 20px;
  text-align: center;
}
