.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 20px 20px 20px;
    max-width: 800px;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
    /* align-self: auto; */
    order: 0;
   
  }
  .flex-items:nth-child(1) h1{
      text-align: center;
  }