.heroWrapper {
  background-color: black;
  background-image: url("../public/images/Hero-Mountains.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  justify-content: center;
}
#filterDDLLabel, #mtnsDDLLabel {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 20px;
}
#divDDL, #mtnsDDLDiv {
  /* background: rgba(214, 216, 214, 0.7); */
   background: #f0a9a9;
   border-radius: 15px;
   width: fit-content;
   margin-top: 10px;
   padding-right: 12px;
}